# Introduction to pandas

<b><u>Methods and keywords to know:</u></b><br>
<b>"xlrd"</b> module - used to retrieve excel file<br>
<b>"pandas"</b> module - used for data manipulation<br>
<b>pandas.read_csv()</b> - reads csv file<br>
<b>df.head()</b> - shows first five lines of the dataframe<br>
<b>pandas.read_excel()</b> - reads excel file<br>
<b>type()</b> - shows the type of the object<br>
<b>df.iloc[]</b> - performs slicing using numerical values of column and row number<br>
<b>df.loc[]</b> - performs slicing using the names of the columns<br>
<b>Dataframe</b> - it is a two dimensional data structure that is mutable, potentially heterogeneous, tabular with labeled axes (rows and columns). Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [48]:
#dependency needed to install file. xlrd module is used to retrieve data from an excel file
!pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (1.2.0)

In [49]:
import pandas as pd # import pandas library

In [50]:
csv_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv"
df=pd.read_csv(csv_path)

In [51]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [52]:
xlsx_path="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx"
df=pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [66]:
x=df[["Length"]]  #access the column "Length" 
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [67]:
x=df["Length"] #get the column as a series using just one []
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [55]:
x=type(df[["Artist"]]) # type 
x

pandas.core.frame.DataFrame

In [56]:
y=df[["Artist","Length","Genre"]] #get multiple columns
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [57]:
df.iloc[0,0] #obtaining element using the column and row number

'Michael Jackson'

In [58]:
df.iloc[1,0]

'AC/DC'

In [59]:
df.iloc[0,2]

1982

In [60]:
df.loc[0,"Artist"]  # obtaining the element using the column name

'Michael Jackson'

In [61]:
df.loc[1,"Artist"]

'AC/DC'

In [62]:
df.loc[0,"Released"]

1982

In [63]:
df.loc[1,"Released"]

1980

In [64]:
df.iloc[0:2,0:3] # slicing using the column and row number

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [65]:
df.loc[0:2,"Artist":"Released"] # slicing using the column name

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973